@import './mixins';
* {
  margin: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.5em;
  font-family: 'Libre Baskerville', serif;
}

#scoreboard {
  margin: 0 auto;
}

.games {
  @include for-tablet {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'game . game';
  }
  @include for-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
