* {
  margin: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.5em;
  font-family: 'Libre Baskerville', serif;
}

#scoreboard {
  margin: 0 auto;
}
